@import '../../styles.scss';
@import '../shared/theme/sass/auth';

.reset-password-container {
  text-align: center;
  background-color: $bg-color;
  background-size: cover;
  min-height: 100vh;
  .reset-password-segment {
    width: 28%;
    display: inline-block;
    .reset-password-box {
      width: 100%;
      float: left;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding-left: 22px;
      padding-right: 22px;
      padding-bottom: 25px;
      margin-top: 150px;
      box-shadow: 0 2px 4px 0 $shadow-color;
      .img-container {
        margin-bottom: 30px;
        img {
          width: 50%;
        }
      }
      .emailLabel {
        cursor: text;
        color: grey;
        position: absolute;
        top: 10px;
        left: 25px;
        font-size: 13px;
        transition: top 0.4s ease;
      }
      #password {
        &:valid + label {
          top: -24px;
          left: 23px;
          color: $label-color;
          margin-bottom: 5px;
          font-size: 13px;
        }
      }
      .passwordLabel {
        cursor: text;
        color: grey;
        position: absolute;
        top: 10px;
        left: 25px;
        font-size: 13px;
        transition: top 0.4s ease;;
      }
      #passwordFields {
        &:valid + label {
          top: -24px;
          left: 23px;
          color: $label-color;
          margin-bottom: 5px;
          font-size: 13px;
        }
      }
      label {
        font-size: 13px;
        letter-spacing: 0.2px;
        line-height: 20px;
        color: $label-color;
        margin-bottom: 5px;
        span {
          color: red;
        }
      }
      .emaildiv {
        margin: 0;
        margin-bottom: 30px !important;
      }
      .signin-btn {
        margin: 0;
        margin-bottom: 25px !important;
      }
      .sign-in-error-message {
        position: absolute;
        bottom: -22px;
        span {
          color: red;
          font-size: 13px;
        }
      }
      .register-btn {
        margin: 0;
        margin-bottom: 0;
        div {
          font-size: 14px;
          a {
            padding-left: 5px;
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
      .passwordtext {
        margin: 0;
        margin-bottom: 30px !important;
      }
      .inputbox {
        background-color: #fff !important;
        height: 40px;
        font-size: $font-size;
        border-radius: $border-radius;
        margin-bottom: 0 !important;
        border: 1px solid #b3b2b2 !important;
        outline: none;
        box-shadow: none !important;
        color: #555555;
        padding: .375rem .75rem;
        padding-left: 8px;
      }
      .inputbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: gainsboro;
      }
      .inputbox::-moz-placeholder { /* Firefox 19+ */
        color: gainsboro;
      }
      .inputbox:-ms-input-placeholder { /* IE 10+ */
        color: gainsboro;
      }
      .inputbox:-moz-placeholder { /* Firefox 18- */
        color: gainsboro;
      }
      .inputbox:focus, .inputbox:active {
        border-color: #A5C9BB !important;
        outline: 0 !important;
        outline: thin dotted \9
      ;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
        box-shadow: inset 0 1px 1px rgba(0, 220, 0, .075), 0 0 8px rgba(0, 225, 0, .2);
      }
      .after-text-fields {
        margin-top: 0;
        padding-bottom: 30px;
        padding-left: 23px;
        margin-bottom: 4%;
        .forgot-password-link {
          color: #285eb8;
          font-size: 13px;
          float: left;
          cursor: pointer;
        }
      }
      .submit {
        background-color: $btn-color !important;
        border: 1px solid $btn-color !important;
        color: $bg-color;
        cursor: pointer;
        box-shadow: 0 2px 4px 0 $shadow-color !important;
      }
      .disableSubmit {
        cursor: not-allowed;
        opacity: 0.9;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .reset-password-container .reset-password-segment {
    width: 75%;
  }
}