<div class="reset-password-container">
    <div class="reset-password-segment">
        <div class="col-md-12 reset-password-box">
            <div class="col-xs-12 img-container">
                <img src="../../assets/img/uptonLogo.png">
            </div>
            <form class="form-horizontal" [formGroup]="resetPasswordForm"
                  (ngSubmit)="onSubmit(resetPasswordForm.value)">

                <div formGroupName="passwords">
                    <div class="form-group row col-md-12 inputbutton emaildiv">
                        <label>New Password <span>*</span></label>
                        <input type="password" class="form-control inputbox" formControlName="password" tabindex="1"
                               maxlength="16" onkeyup="this.value = this.value.trim();" autofocus>
                        <div class="sign-in-error-message">
                            <span *ngIf="!resetPasswordForm.get('passwords').get('password').valid && resetPasswordForm.get('passwords').get('password').touched"
                                  class="help-block sub-little-signUp-error confpass">Password must be 8 characters long.</span>
                        </div>
                    </div>
                    <div class="form-group row col-md-12 inputbutton passwordtext">
                        <label>Confirm Password <span>*</span></label>
                        <input type="password" class="form-control inputbox" tabindex="2"
                               formControlName="confirmPassword" onkeyup="this.value = this.value.trim();"
                               maxlength="16" required>
                        <div class="sign-in-error-message">
                            <span *ngIf="!resetPasswordForm.get('passwords').valid && (resetPasswordForm.get('passwords').get('password').touched && resetPasswordForm.get('passwords').get('confirmPassword').touched)"
                                  class="help-block sub-little-text confpass">Password doesn't match.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-12 inputbutton signin-btn">
                    <input type="submit" class="form-control inputbox submit" value="RESET"
                           [ngClass]="{'disableSubmit':disableSubmit()}" [disabled]="disableSubmit()" tabindex="3">
                </div>
            </form>
        </div>
    </div>
</div>
