$font-medium: 'DinM';
$font-light: 'DinL';
$font-bold: 'DinB';
$add-btn-color: #195C94;
$bg-color: #fff;
$border-radius: 4px;
$border-color: darkgrey;

$font-size: 14px;
$label-color: #000000;
$shadow-color: #a7a2a2;
$btn-color: #c61e23;


$disable-submit-color: #636C73;
$signin-link-color: #59a453;
$selected-menu: rgba(34, 45, 50, 0.37);
$white-bg: #fff;
$addon-background:  #eceeef;
$addon-color: #464a4c;


$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$top-height: 66px;
$sidebar-width: 200px;

$small-card-height: 114px;
$xsmall-card-height: 187px;
$medium-card-height: 400px;
$extra-medium-card-height: 550px;
$large-card-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$assets-root: '/assets';
$images-root: '/img/';
$fonts-root: '/fonts/';
