<div class="padding-top">
    <div class="row">
        <div class="col-md-12">
            <div class="add-user">
                <div class="col-lg-12">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
                        <div class="form-group form-row-container">
                            <div class="input-field">
                                <label>First Name <span>*</span></label>
                                <input class="form-control capitalize" type="text" tabindex="1" pattern="[A-Za-z\s]+"
                                       formControlName="firstName" onblur="this.value = this.value.trim();"
                                       maxlength="35" autofocus>
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched"
                                          class="help-block sub-little-signUp-error confpass">First Name is {{!userForm.get('firstName').valid && userForm.get('firstName').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>Last Name <span>*</span></label>
                                <input class="form-control capitalize" type="text" tabindex="2" pattern="[A-Za-z\s]+"
                                       formControlName="lastName" onblur="this.value = this.value.trim();"
                                       maxlength="35">
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched"
                                          class="help-block sub-little-signUp-error confpass">Last Name is {{!userForm.get('lastName').valid && userForm.get('lastName').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-row-container">
                            <div class="input-field">
                                <label>Email <span>*</span></label>
                                <input class="form-control" type="email" formControlName="email"
                                       onblur="this.value = this.value.trim();" maxlength="70" tabindex="3">
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('email').valid && userForm.get('email').touched"
                                          class="help-block sub-little-signUp-error confpass">Email is {{!userForm.get('email').valid && userForm.get('email').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>Phone Number </label>
                                <input class="form-control" type="text" formControlName="phoneNumber"
                                       [textMask]="{mask: mask, guide: false}" minlength="12" maxlength="12"
                                       onblur="this.value = this.value.trim();" tabindex="4">
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('phoneNumber').valid && userForm.get('phoneNumber').touched"
                                          class="help-block sub-little-signUp-error confpass">Phone Number is {{!userForm.get('phoneNumber').valid && userForm.get('phoneNumber').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-row-container">
                            <div class="input-field">
                                <label>State </label>
                                <select class="form-control" formControlName="state" tabindex="5">
                                    <option class="ng-tns-c9-1" value="" selected>Select State</option>
                                    <option class="ng-tns-c9-1" *ngFor="let stateCode of stateGroupList[0]">
                                        {{stateCode.name}}
                                    </option>
                                </select>
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('state').valid && userForm.get('state').touched"
                                          class="help-block sub-little-signUp-error confpass">State is {{!userForm.get('state').valid && userForm.get('state').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>City </label>
                                <input class="form-control capitalize" type="text" formControlName="city"
                                       onblur="this.value = this.value.trim();" pattern="[A-Za-z\s]+" maxlength="35" tabindex="6">
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('city').valid && userForm.get('city').touched"
                                          class="help-block sub-little-signUp-error confpass">City is {{!userForm.get('city').valid && userForm.get('city').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-row-container">
                            <div class="input-field">
                                <label>Address </label>
                                <input class="form-control capitalize" type="text" formControlName="address"
                                       onblur="this.value = this.value.trim();" maxlength="100" tabindex="7">
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('address').valid && userForm.get('address').touched"
                                          class="help-block sub-little-signUp-error confpass">Address is {{!userForm.get('address').valid && userForm.get('address').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>Zip </label>
                                <input class="form-control" type="text" formControlName="zip" [textMask]="{mask: zipMask, guide: false}"
                                       onblur="this.value = this.value.trim();" minlength="5" maxlength="5"
                                       tabindex="8">
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('zip').valid && userForm.get('zip').touched"
                                          class="help-block sub-little-signUp-error confpass">Zip is {{!userForm.get('zip').valid && userForm.get('zip').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group form-row-container">
                            <div class="input-field">
                                <label>Role <span>*</span></label>
                                <select class="form-control" formControlName="role" tabindex="9">
                                    <option value="franchise_user" selected>Franchise User</option>
                                    <option value="company_manager">Company Manager</option>
                                    <option value="store_manager">Store Manager</option>
                                </select>
                                <div class="sign-in-error-message">
                                    <span *ngIf="!userForm.get('role').valid && userForm.get('role').touched"
                                          class="help-block sub-little-signUp-error confpass">Role is {{!userForm.get('role').valid && userForm.get('role').value === ''?'required':'invalid'}}</span>
                                </div>
                            </div>
                            <div class="input-field" *ngIf="userForm.controls['role'].value == 'company_manager'">
                                <label>Select Company List </label>
                                <angular4-multiselect [data]="companyList"
                                                      [settings]="dropdownSettings"
                                                      (onSelect)="onItemSelect($event)"
                                                      (onDeSelect)="OnItemDeSelect($event)"
                                                      (onSelectAll)="onSelectAll($event)"
                                                      (onDeSelectAll)="onDeSelectAll($event)"
                                                      formControlName="companyStoreDetails" tabindex="10"></angular4-multiselect>
                            </div>

                            <div class="input-field" *ngIf="userForm.controls['role'].value == 'store_manager'">
                                <label>Select Store List </label>
                                <angular4-multiselect [data]="storeList"
                                                      [settings]="storeSettings"
                                                      (onSelect)="onItemSelect($event)"
                                                      (onDeSelect)="OnItemDeSelect($event)"
                                                      (onSelectAll)="onSelectAll($event)"
                                                      (onDeSelectAll)="onDeSelectAll($event)"
                                                      formControlName="companyStoreDetails" tabindex="10"></angular4-multiselect>
                            </div>
                        </div>

                        <div class="col-md-12 submit-button">
                            <button type="submit" class="submit" [ngClass]="{'disableSubmit':disableSubmit()}"
                                    [disabled]="disableSubmit()" tabindex="11"> Add User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
