@import '../../../styles.scss';
@import '../../shared/theme/sass/auth';

.padding-top {
  padding-top: 55px;
}

.edit-driver {
  width: 100%;
  float: left;
  background: #eee;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $shadow-color;
  .form-row-container {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
    .input-field {
      width: 48%;
      float: left;
      text-align: left;
      position: relative;
      label {
        font-size: 13px;
        span {
          color: red;
        }
      }
      .form-control {
        outline: none;
      }
      .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: none;
      }
      .email-field {
        cursor: not-allowed;
      }
      input.form-control {
        font-size: 14px;
      }
      select.form-control {
        font-size: 14px;
        text-transform: capitalize;
        option {
          text-transform: capitalize;
        }

      }
      .capitalize {
        text-transform: capitalize;
      }
      .form-control[readonly] {
        background-color: #fff;
        opacity: 1;
      }
      .sign-in-error-message {
        position: absolute;
        bottom: -22px;
        span {
          color: red;
          font-size: 13px;
        }
      }
      .add-company-link {
        position: absolute;
        right: -100px;
        top: 35px;
        a {
          font-size: 13px;
          color: #007bff;
          cursor: pointer;
          outline: none;
        }
        a:hover, a:focus {
          text-decoration: underline;
        }
      }
      .date-btn {
        background: #fff;
        border: 1px solid #ced4da;
      }
      .date-btn:hover, .date-btn:focus {
        background: #e9ecef;
        outline: none;
      }
    }
  }
  .form-title {
    border-bottom: 1px solid rgb(255, 103, 0);
    margin: 20px;
    margin-right: 25px;
    label {
      font-size: 14px;
      margin-bottom: 5px;
      color: rgb(255, 103, 0);
    }
  }
  .form-block {
    width: 100%;
    float: left;
    padding: 20px 0;
  }
  .submit-button {
    width: 100%;
    float: left;
    padding: 10px 20px;
    text-align: right;
    .submit {
      width: auto;
      color: #fff;
      padding: 0 15px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
      height: 35px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #c61e23;
      border: 1px solid #c61e23;
      i.fa.fa-plus {
        margin-right: 2.5px;
      }
    }
    .disableSubmit {
      cursor: not-allowed;
      opacity: 0.9;
    }
  }
}

@media screen and (max-width: 500px) {
  .edit-driver .form-row-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    .input-field {
      width: 100%;
      padding: 10px 0;
      label {
        line-height: 10px;
      }
      .sign-in-error-message {
        position: absolute;
        bottom: -10px;
      }
      //.add-store-link {
      //  position: relative;
      //  right: 0;
      //}
    }
  }
}