<div class="forgot-password-container">
    <div class="forgot-password-segment">
        <div class="col-md-12 forgot-password-box">
            <div class="col-xs-12 img-container">
                <img src="../../assets/img/uptonLogo.png">
            </div>
            <form class="form-horizontal" [formGroup]="forgotPasswordForm"
                  (ngSubmit)="onSubmit(forgotPasswordForm.value)">
                <div class="form-group row col-md-12 inputbutton emaildiv">
                    <label>Email <span>*</span></label>
                    <input type="text" class="form-control inputbox" formControlName="email" tabindex="1"
                           maxlength="70" onkeyup="this.value = this.value.trim();" autofocus>
                    <div class="sign-in-error-message">
                        <span *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched"
                              class="help-block sub-little-signUp-error confpass">Email is {{!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').value === ''?'required':'not valid'}}.</span>
                    </div>
                </div>

                <div class="form-group row col-md-12 inputbutton signin-btn">
                    <input type="submit" class="form-control inputbox submit" value="SEND"
                           [ngClass]="{'disableSubmit':disableSubmit()}"
                           [disabled]="disableSubmit()" tabindex="2">
                </div>
                <div class="form-group row col-md-12 inputbutton register-btn">
                    <div class="col-md-12">
                        <div>
                            <span>Already have an account?</span>
                            <a [routerLink]="['/login']" tabindex="3">
                                <span class="register">Sign In</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
